h1 {color:white;} h1{background-color: :grey;} h1{text-align: justify;}
p {color:white;} p{background-color:rgba(13,132,311); } p {font-size: 25px} 
ul{font-size: 20px} ul{list-style: none;} ul{color:White;} ul{background-color:rgba(0,0,0,0.8);}
body {background-image: url(idola.JPG); background-attachment: fixed;background-size: cover;:} 